<div class="about container">
  <h2>About Us</h2>
  <p>So many people in your network go to interesting places around the world. There has to be an easier way to receive helpful and reliable travel recommendations.</p>
  <p>Atlas Shared makes it easier to facilitate travel recommendations from within your network by building a community of shared experiences.</p>

  <h2>How It Works</h2>
  <p>We utilize a map-based interface for you to share your travel insights and become a thought leader in your network, while learning from your network</p>

  <div class="row">
    <div class="one-third column">
      <img src="assets/Plane.svg" alt="plane">
    </div>

    <div class="one-third column">
      <img src="assets/Network.svg" alt="network">
    </div>

    <div class="one-third column">
      <img src="assets/Globe.svg" alt="globe">
    </div>
  </div><!-- /row -->
  <div class="row">
    <div class="one-third column">
      <p>Have an experience</p>
    </div>

    <div class="one-third column">
      <p>Share with your network</p>
    </div>

    <div class="one-third column">
      <p>Browse the experiences of your network</p>
    </div>
  </div><!-- /row -->
</div><!-- /container -->
