<div data-ui-view></div>
<!-- <div class="row">
  <div class="six columns">
    View your friend's experiences
    <br>
    <a href="#">Browse friend's trips</a>
    <br>
    View your trips
    <br>
    <a href="#">Browse your trips</a>
  </div>
  <div class="six columns">
    Share your experiences
    <br>
    <a href="#">Create a Trip</a>
    <br>
    <div class='trip-form'>
      <input type="text" name="title" placeholder="trip title">
      <input type="text" name="desc" placeholder="add desc" maxlength="140" >
      <input type="text" name="locale" placeholder="locale">
      <button type="submit" class="trip-submit">submit</button>
    </div>
  </div>
</div> -->
