<!DOCTYPE html>
<html data-ng-app="atlas">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Atlas Shared</title>
    <base href="/">

    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/components/angular-resource/angular-resource.js"></script>

    <link rel="stylesheet" href="components/skeleton/css/normalize.css">
    <link rel="stylesheet" href="components/skeleton/css/skeleton.css">

    <script src="/components/mapbox.js/mapbox.js"></script>
    <link rel="stylesheet" href="/components/mapbox.js/mapbox.css">

    <script src="/components/leaflet-geocoder-mapzen/dist/leaflet-geocoder-mapzen.js"></script>
    <link rel="stylesheet" href="/components/leaflet-geocoder-mapzen/dist/leaflet-geocoder-mapzen.css">

    <link rel="stylesheet" href="css/style.css">

    <script src="js/app.js"></script>
    <script src="js/trips/trips.js"></script>
    <script src="js/trips/trip.factory.js"></script>
    <script src="js/trips/form.directive.js"></script>

    <script src="js/locations/locations.js"></script>
    <script src="js/locations/location.factory.js"></script>
    <script src="js/locations/form.directive.js"></script>
    <script src="js/trips/map.directive.js"></script>

    <script src="js/trips/index.controller.js"></script>
    <script src="js/trips/show.controller.js"></script>
  </head>
  <body>
    <header>
      <h1>Atlas Shared</h1>
    </header>
    <main class="container">
      {{{body}}}
    </main>
    <footer>
      &copy; Atlas Shared
    </footer>
  </body>
</html>
