{{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}

<img class="u-full-width" src="/assets/bg1.jpeg" alt="background image" />
<div class="tag-info">
  <img class="logo-lrg" src="/assets/Logo_400x670.svg" alt="logo" />
  <h1>"Better Sources. Better Trips."</h1>
</div>

<form method="post" action="/login">
  <p><a class="btn btn-primary" href="/auth/facebook">Login using Facebook</a></p>
</form>
