*{margin:0;box-sizing:border-box}

body {
  font-family: 'Comfortaa', sans-serif;
  background: #E9E9E9;
}

a {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs {
  margin-top: 20px;
  text-align: center;
}

/*===============================
Header
===============================*/

.logo {
  margin-top: 20px
}

header{
  color: white;
  background-color: black;
}

.logo-sm {
  height: 40px;
}

header h1 {
  display: inline;
}

.profile-pic {
  height: 50px
}

header ul,
header h1 {
  margin-bottom: 10px;
}

header ul {
  margin-top: 20px;
  float: right;
}

header li {
  text-align: center;
  line-height: 60px;
  display: inline-block;
}

header li:nth-child(1n+1) {
  margin: 0 4px
}

header li a {
  text-decoration: none;
  color: inherit;
}

.onboard-facebook {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 200px;
  height: 36px;
  background-color: white;
  line-height: 36px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #49639F;
  color: white;
}

header li img {
  vertical-align: middle;
  border-radius: 50%;
}

/*===============================

===============================*/

.trip-info{
  background-color: white;
  padding: 6px;
  margin: 0 8px 8px 0;
  text-align: center;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 4px;
}

.trips.row .column,
.trips.row .columns {
  margin: 0;
}

.trips .three.columns {
  width: 25%;
}

.trip-info img {
  display: block;
  margin: 0;
  min-width: 100%;
}

.trip-info a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/*===============================

===============================*/

.tag-info {
  position: absolute;
  top: 200px;
  z-index: 1;
  color: white;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.logo-lrg {
  left: 50%;
  height: 36vw;
}

/*===============================

===============================*/

.form-left {
  margin-left: 30px
}

.about:first-child{
  margin-top: 60px;
}

.about:last-child{
  margin-bottom: 60px;
}

.about h2 {
  text-align: center;
  border-bottom: 2px solid rgb(75, 176, 203)
}

/*===============================

===============================*/

.ng-scope:first-child {
  margin-top: 20px;
}

.ng-scope:last-child {
  margin-bottom: 60px;
}

footer{
  border:1px solid black;
  background-color: black;
  color: white;
  height: 400px;
  text-align: center;
  padding: 80px;
}

#map{
  height:70vh;
  width:100%;
}
.cf:after{
  content:'';
  display:table;
  clear:both;
}
input{
  width:100%;
}
#geocontainer{
  position:relative;
  display:block;
}
#georesults{
  display:none;
}
.leaflet-pelias-results{
  top:45px;
}
.trip-container{
  padding:10px;
  background: white;
}
.trip-container:nth-child(even){
  background:ghostwhite;
}
.selected{
  border:2px solid blue;
}

.marker{
  background-image:url("../assets/logo_white.svg");
  background-repeat:no-repeat;
}

/*form[name=locationForm] label.radio{
  display:inline-block;
  padding:3px;
  border:1px solid red;
}

form[name=locationForm] input:checked ~ label.radio{
  border:1px solid blue;
}

form[name=locationForm] label.radio input{
  display:none;
}*/

/*===============================
Protips
===============================*/

ol {
    counter-reset: item;
    list-style-type: decimal;
    list-style: none;
}

ol li:before {
    content: 'TIP ' counter(item, decimal) '. ';
    counter-increment: item;
}

.protip {
  padding: 20px;
  border: 2px solid #1094de;
  width: 250px;
}

.protip-show {
  float: left;
}

.category {
  padding: 5px 10px;
  background: #1094de;
  border-radius: 5px;
}
