*{margin:0;box-sizing:border-box}

body {
  background: #E9E9E9;
}

/*===============================
Header
===============================*/

header{
  color: white;
  background-color: black;
}

.profile-pic {
  height: 50px
}

header ul {
  margin-top: 10px;
  float: right;
}

header li {
  text-align: center;
  line-height: 60px;
  display: inline-block;
}

header li a {
  text-decoration: none;
}

.onboard-facebook {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 180px;
  height: 36px;
  background-color: white;
  line-height: 36px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #49639F;
  color: white;
}

header li img {
  vertical-align: middle;
  border-radius: 50%;
}

/*===============================

===============================*/

.trip-info{
  width: 248px
  border-radius: 4px;
  background-color: white;
  padding: 6px;
}
.trip-info img {
  display: block;
  margin: 0;
  width: auto;
}

.trip-info a {
  display: block;
}

/*===============================

===============================*/

.tag-info {
  position: absolute;
  top: 200px;
  z-index: 1;
  color: blue;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.logo-lrg {
  left: 50%;
  height: 400px;
}

/*===============================

===============================*/


main{border:1px solid green;}
footer{border:1px solid black;}
#map{
  height:70vh;
  width:100%;
}
.cf:after{
  content:'';
  display:table;
  clear:both;
}
input{
  width:100%;
}
div{
  /*border:1px solid red;*/
}
#geocontainer{
  position:relative;
  display:block;
  border:1px solid green;
}
.leaflet-pelias-results{
  top:45px;
}
.trip-container{
  padding:10px;
  background: white;
}
.trip-container:nth-child(even){
  background:ghostwhite;
}
.selected{
  border:2px solid blue;
}
