<form name="locationForm">
  <fieldset>
    <label for="type">place Name:</label>
    <input required type="text" name="type" data-ng-model="location.place" placeholder="placename"/>
    <!-- <span class='invalid' data-ng-show="locationForm.type.$dirty && locationForm.type.$invalid">
      <span data-ng-show="locationForm.type.$error.required">Type is required.</span>
    </span> -->
  </fieldset>
  <fieldset>
    <label for="type">place Description:</label>
    <input required type="text" name="type" data-ng-model="location.desc" placeholder="Trip description"/>
    <!-- <span class='invalid' data-ng-show="locationForm.type.$dirty && locationForm.type.$invalid">
      <span data-ng-show="locationForm.type.$error.required">Type is required.</span>
    </span> -->
  </fieldset>

  <button type="button" data-ng-if="!location._id" data-ng-click="create()" ng-disabled="locationForm.$invalid">Create</button>
  <div data-ng-if="location._id">
    <button type="button" data-ng-click="cancel()">cancel</button>
    <button type="button" ng-disabled="locationForm.$invalid" data-ng-click="update()">Update</button>
    <button type="button" data-ng-click="delete()">Delete</button>
  </div>
</form>
