<form novalidate name="locationForm" style="overflow: hidden;">
  <fieldset id="geocontainer">
    <label for="place">Where did you go?</label>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  </fieldset>
  <fieldset id="georesults">
    <input type="text" name="lat" >
    <input type="text" name="lon" >
  </fieldset>
  <fieldset>
    <label class="radio">Places to Eat<input required type="radio" name="category" data-ng-model="location.category" value="places to eat"/></label>
    <label class="radio">Places to Stay<input required type="radio" name="category" data-ng-model="location.category" value="places to stay"/></label>
    <label class="radio">Places to See<input required type="radio" name="category" data-ng-model="location.category" value="places to see"/></label>
  </fieldset>
  <fieldset>
    <label for="desc">Why was it amazing?</label>
    <input required type="text" name="desc" data-ng-model="location.desc" placeholder="This place is bananas because..."/>
    <!-- <span class='invalid' data-ng-show="locationForm.type.$dirty && locationForm.type.$invalid">
    <span data-ng-show="locationForm.type.$error.required">Type is required.</span>
  </span> -->
  </fieldset>

  <button type="button" data-ng-if="!location._id" data-ng-click="create()" ng-disabled="locationForm.$invalid">Create</button>
  <div data-ng-if="location._id">
    <button type="button" data-ng-click="cancel()">Cancel Edit</button>
    <button type="button" ng-disabled="locationForm.$invalid" data-ng-click="update()">Update</button>
    <button type="button" data-ng-click="delete()">Delete</button>
  </div>
</form>
