<form name="tripForm">
  <fieldset>
    <label for="type">Where did you go?</label>
    <input required type="text" name="type" data-ng-model="trip.locale" placeholder="City, State, Country"/>
    <!-- <span class='invalid' data-ng-show="tripForm.type.$dirty && tripForm.type.$invalid">
      <span data-ng-show="tripForm.type.$error.required">Type is required.</span>
    </span> -->
  </fieldset>
  <fieldset>
    <!-- <label for="type">When did you go?</label>
    <input required type="text" name="type" data-ng-model="trip.date" placeholder="Month Year"/> -->
    <label for="type">Firstname + Trip title</label>
    <input required type="text" name="type" data-ng-model="trip.title" placeholder="Zak's Trip to Honolulu"/>
    <!-- <span class='invalid' data-ng-show="tripForm.type.$dirty && tripForm.type.$invalid">
      <span data-ng-show="tripForm.type.$error.required">Type is required.</span>
    </span> -->
  </fieldset>
  <fieldset>
    <label for="type">Trip Summary:</label>
    <input required type="text" name="type" data-ng-model="trip.desc" placeholder="Example: Went to Honolulu with Elizabeth and Jessika in June 2015."/>
    <!-- <span class='invalid' data-ng-show="tripForm.type.$dirty && tripForm.type.$invalid">
      <span data-ng-show="tripForm.type.$error.required">Type is required.</span>
    </span> -->
  </fieldset>
  <p>All fields required</p>
  <button type="button" data-ng-if="!trip._id" data-ng-click="create()" ng-disabled="tripForm.$invalid">Create</button>
  <div data-ng-if="trip._id">
    <button type="button" data-ng-click="cancel()">Back</button>
    <button type="button" ng-disabled="tripForm.$invalid" data-ng-click="update()">Update</button>
    <button type="button" data-ng-click="delete()">Delete</button>
  </div>
</form>
