<div class='form-container add-container' data-ng-show="TripShowViewModel.profile._id == TripShowViewModel.trip.userId" data-trip-form data-trip="TripShowViewModel.trip"></div>
<div data-ng-hide="TripShowViewModel.profile._id == TripShowViewModel.trip.userId" >
  <p>{{TripShowViewModel.trip.title}}</p>
  <p>{{TripShowViewModel.trip.desc}}</p>
  <p>{{TripShowViewModel.trip.userId}}</p>
</div>
<div data-map id="map"></div>
<div data-ng-show="TripShowViewModel.profile._id == TripShowViewModel.trip.userId">
  <div class='form-container add-container' data-location-form data-location="newLocation"></div>
  <div class='place-info' data-ng-repeat="location in TripShowViewModel.locations">
    <div data-show-location data-location="location"></div>
  </div>
</div>
<div data-ng-hide="TripShowViewModel.profile._id == TripShowViewModel.trip.userId" >
  <div class='place-info' data-ng-repeat="location in TripShowViewModel.locations">
    <p>{{location.desc}}</p>
  </div>
</div>
